<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/codekit" target="_blank">github.com/codekit</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://codekit.github.io/portfolio/" target="_blank">codekit.github.io/portfolio</a></p>
<p><i class="fa fa-pencil fa-lg fa-fw"></i> <a href="http://avireni.github.io/" target="_blank">avireni.github.io</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:beena@avireni.com" target="_blank">beena@avireni.com</a></p>
